
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
*{
font-family: 'Poppins', sans-serif;
}
.navbar a {
    font-weight: 600;
    font-size: 18px;
}
.carousel-item {
    min-height: 400px;
}
.carousel-caption {
    bottom: 220px;
    z-index: 2;
}

.carousel-caption h5 {
    font-size: 70px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 25px;

}
.carousel-caption p {
    width: 60%;
    margin: 10px auto;
    font-size: 18px;
}
.carousel-inner::before {
    content: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
}
.sevices{
    padding: 80px 0;
}
.bg-car1{
    background-image: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ), url(imagenes/c1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.bg-car2{
    background-image: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ), url(imagenes/c2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-car3{
    background-image: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ), url(imagenes/tapizado.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-car4{
    background-image: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ), url(imagenes/aleron.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-car5{
    background-image: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ), url(imagenes/Llantas.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-car6{
    background-image: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ), url(imagenes/bacas.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-car7{
    background-image: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ), url(imagenes/tesla2.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-car8{
    background-image: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ), url(imagenes/tesla3.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-car9{
    background-image: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ), url(imagenes/tesla1.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.box-icons i {
    font-size: 40px;
}
.box-icons h3 {
    font-size: 20px;
    font-weight: 800;

}
.product{
    padding: 80px 0;
}
.card img{
    width: 150px;
    height: 150px;
}
.banner {
    padding: 50px 0;
    margin-bottom: 80px;
    background-color: #eae5df;
}
.banner h2 {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 800;
}
.banner img {
    width: 300px;
}
@media(max-width:767px) {
    .carousel-item{
        min-height: 500px;
    }
    .carousel-item img {
        height: 500px;
    }
    .carousel-caption {
        bottom: 30px;
    }
    .carousel-caption h5 {
        font-size: 50px;
        margin-top: 0;
    }
    .carousel-caption p {
        width: 100%;
        font-size: 16px;
    }
    .product{
        padding: 30px 0 0 0;
    }
    .banner {
        margin-bottom: 30px;
    }
}
.btn2{
    box-shadow: rgba(46, 153, 240, 0.4) 0px 5px, rgba(46, 201, 240, 0.3) 0px 10px, rgba(46, 201, 240, 0.2) 0px 15px, rgba(69, 238, 250, 0.1) 0px 20px, rgba(46, 240, 198, 0.05) 0px 25px;
}
.nav-link{
    text-decoration: none;
    color: inherit;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1rem;
    position: relative;
}
.nav-link:after{
    content: "";
    width: 0;
    height: 4px;
    background-color: cadetblue;
    position: absolute;
    bottom: 0;
    right: 50%;
    transition: all .5s;
    will-change: width;
}
.nav-link:hover:after{
    width: 100%;
    right: 0;
}